/* line 14, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 4, ../../app/assets/stylesheets/application.scss */
#wrapper .error, #wrapper .warning, #wrapper .info, #wrapper .success {
  padding: 10px;
  padding-left: 40px;
  margin: 10px 0px;
}
/* line 10, ../../app/assets/stylesheets/application.scss */
#wrapper .error {
  border: 1px solid #ff9b9b;
  background: #ffd3d3 url("/images/system-error-alt.png") no-repeat 10px 7px;
  color: #de1414;
}
/* line 16, ../../app/assets/stylesheets/application.scss */
#wrapper .info {
  border: 1px solid #5abef3;
  background: #d9f4ff url("/images/system-info-alt.png") no-repeat 10px 7px;
  color: #0069cb;
}
/* line 22, ../../app/assets/stylesheets/application.scss */
#wrapper .success {
  border: 1px solid #78ce4d;
  background: #e8ffe2 url("/images/success.png") no-repeat 10px 7px;
  color: #007e1b;
}
/* line 28, ../../app/assets/stylesheets/application.scss */
#wrapper .warning {
  border: 1px solid #c4bc16;
  background: #fffed7 url("/images/warning.png") no-repeat 10px 7px;
  color: #6e6000;
}
/* line 34, ../../app/assets/stylesheets/application.scss */
#wrapper .clear {
  clear: both;
  line-height: 1px;
  font-size: 1px;
}
/* line 40, ../../app/assets/stylesheets/application.scss */
#wrapper .center {
  text-align: center;
}
/* line 42, ../../app/assets/stylesheets/application.scss */
#wrapper .left {
  text-align: left;
}
/* line 44, ../../app/assets/stylesheets/application.scss */
#wrapper .right {
  text-align: right;
}
/* line 46, ../../app/assets/stylesheets/application.scss */
#wrapper .float_right {
  float: right;
}
/* line 48, ../../app/assets/stylesheets/application.scss */
#wrapper .float_left {
  float: left;
}
/* line 50, ../../app/assets/stylesheets/application.scss */
#wrapper .bold {
  font-weight: bolder;
}
/* line 53, ../../app/assets/stylesheets/application.scss */
#wrapper #content .columns {
  overflow: hidden;
}
/* line 55, ../../app/assets/stylesheets/application.scss */
#wrapper #content .columns .half {
  display: inline;
  width: 49%;
  float: left;
  margin-right: 1%;
}
/* line 61, ../../app/assets/stylesheets/application.scss */
#wrapper #content .columns .half h1 span.right, #wrapper #content .columns .half h2 span.right, #wrapper #content .columns .half h3 span.right, #wrapper #content .columns .half h4 span.right, #wrapper #content .columns .half h5 span.right, #wrapper #content .columns .half h6 span.right {
  position: absolute;
  float: right;
  margin-top: 0px;
  right: 0px;
}
/* line 70, ../../app/assets/stylesheets/application.scss */
#wrapper #content .icon {
  background-position: 0 40%;
  padding-left: 20px;
  padding-right: 5px;
}
/* line 76, ../../app/assets/stylesheets/application.scss */
#wrapper #content .icon.edit {
  background: url("/images/icons/pencil.png") no-repeat;
}
/* line 80, ../../app/assets/stylesheets/application.scss */
#wrapper #content .icon.delete {
  background: url("/images/icons/delete.png") no-repeat;
}
/* line 84, ../../app/assets/stylesheets/application.scss */
#wrapper #content .icon.user_edit {
  background: url("/images/icons/user_edit.png") no-repeat;
}
/* line 88, ../../app/assets/stylesheets/application.scss */
#wrapper #content .icon.user_delete {
  background: url("/images/icons/user_delete.png") no-repeat;
}

/* line 94, ../../app/assets/stylesheets/application.scss */
.field_with_errors input, .field_with_errors textarea {
  background-color: #FFAAAA;
  border: 2px solid #A00000 !important;
  color: #AA0000;
}

/* line 100, ../../app/assets/stylesheets/application.scss */
.wym_section.wym_dropdown {
  display: none;
}

/* line 104, ../../app/assets/stylesheets/application.scss */
.wym_skin_compact {
  border: 0px !important;
  padding: 5px 15px;
}
