/* line 14, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 4, ../../app/assets/stylesheets/dashboard.scss */
html {
  height: 100%;
}
/* line 7, ../../app/assets/stylesheets/dashboard.scss */
html body {
  background: #f2f2f2 url("/images/dashboard/html-bg.jpg") repeat-x left top;
  height: 100%;
  font-family: helvetica,arial,freesans,clean,sans-serif;
  font-size: 13.34px;
}
/* line 14, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}
/* line 19, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper input[type=text], html body #wrapper input[type=password] {
  border: 2px solid #BBB;
  padding: 6px;
  display: block;
  width: 350px;
  margin: 5px 0;
}
/* line 27, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper textarea {
  border: 2px solid #DDD;
  width: 98%;
  padding: 10px;
  margin: 5px 0px 15px;
  display: block;
  height: 80px;
  overflow: auto;
}
/* line 37, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper select {
  display: block;
  margin: 10px 0;
}
/* line 42, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper h1, html body #wrapper h2, html body #wrapper h3, html body #wrapper h4, html body #wrapper h5, html body #wrapper h6 {
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
}
/* line 48, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper h1, html body #wrapper h2 {
  border-bottom: 1px solid #CCC;
}
/* line 50, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper h1 {
  font-size: 26px;
}
/* line 52, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper h2 {
  font-size: 20px;
}
/* line 54, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper h3 {
  font-size: 16px;
}
/* line 56, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper h4 {
  font-size: 14px;
}
/* line 58, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper h5 {
  font-size: 12px;
}
/* line 60, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper h6 {
  font-size: 10px;
}
/* line 62, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper #top, html body #wrapper #nav, html body #wrapper #footer, html body #wrapper #content, html body #wrapper .sub_nav {
  width: 98%;
  margin: 0 auto;
  position: relative;
}
/* line 68, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper #top {
  background-color: #2C3030;
  color: white;
  height: 74px;
  width: 100%;
}
/* line 75, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper #logo {
  background: transparent url("/images/dashboard/logo.png") no-repeat 0px 4px;
  font-family: "Cetury Gothic", sans-serif, arial;
  font-size: 15px;
  line-height: 14px;
  display: inline;
  margin-left: 10px;
  width: 352px;
  padding: 30px 0px;
  float: left;
}
/* line 87, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper #account_info {
  float: right;
  padding: 27px;
}
/* line 91, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper #account_info a {
  color: #BBB;
}
/* line 94, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper #nav_wrap {
  height: 89px;
  clear: both;
}
/* line 98, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper #nav_wrap #nav {
  list-style: none;
  overflow: hidden;
}
/* line 102, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper #nav_wrap #nav a, html body #wrapper #nav_wrap #nav a:active, html body #wrapper #nav_wrap #nav a:visited {
  color: white;
  text-decoration: none;
  padding: 12px 16px 9px 16px;
  font-size: 17px;
  display: block;
}
/* line 110, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper #nav_wrap #nav a:hover, html body #wrapper #nav_wrap #nav li.active a {
  background: #0057a9 url("/images/dashboard/nav-li-bg.png") repeat-x left top;
  padding: 10px 14px 9px 14px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -khtml-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}
/* line 116, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper #nav_wrap #nav li {
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -khtml-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}
/* line 123, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper #nav_wrap #nav li:hover, html body #wrapper #nav_wrap #nav li.active {
  padding: 0px;
  border: 1px solid #33472C;
  border-bottom: 0px;
}
/* line 130, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper #nav_wrap .sub_nav {
  list-style: none;
  height: 36px;
  overflow: hidden;
}
/* line 135, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper #nav_wrap .sub_nav li {
  float: left;
  padding: 0 10px;
  margin-top: 10px;
  font-size: 12px;
}
/* line 141, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper #nav_wrap .sub_nav li a {
  text-decoration: none;
  color: #BDF58F;
}
/* line 147, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper #nav_wrap .sub_nav li a:hover {
  color: white;
}
/* line 151, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper #nav_wrap .sub_nav li.current span {
  color: #FFF;
}
/* line 157, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper #content_wrap {
  background-color: #F2F2F2;
  padding-bottom: 70px;
}
/* line 161, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper #content_wrap #content {
  padding: 10px 0px;
  overflow: hidden;
}
/* line 165, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper #content_wrap #content .buttonset label {
  margin-bottom: 5px;
  padding: 0px;
  font-weight: normal;
}
/* line 171, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper #content_wrap #content div.box {
  border: 1px solid gray;
  padding: 15px;
  background-color: #EEE;
  color: #333;
}
/* line 177, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper #content_wrap #content div.box p {
  line-height: 19px;
}
/* line 181, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper #content_wrap #content #roles.box ul li {
  list-style: none;
}
/* line 184, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper #content_wrap #content #roles.box ul li label {
  display: inline;
  cursor: pointer;
  text-decoration: underline;
  font-size: 12px;
  font-weight: normal;
}
/* line 194, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper #content_wrap #content .ui-widget {
  font-size: 13px;
}
/* line 196, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper #content_wrap #content p {
  margin-bottom: 10px;
  font-size: 13px;
}
/* line 201, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper #content_wrap #content .module {
  border: 1px solid #CCC;
  background-color: white;
  margin-bottom: #393939;
}
/* line 206, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper #content_wrap #content .module .module_body {
  background-color: #fefefe;
  margin: 10px;
  color: #393939;
}
/* line 211, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper #content_wrap #content .module .module_body #keyword_button {
  position: relative;
  top: -5px;
}
/* line 217, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper #content_wrap #content .module h2.title {
  background: #ededed url("/images/dashboard/module-top.png") repeat-x left top;
  padding: 10px;
  display: block;
  border-bottom: 1px solid #CCC;
  color: #6A9158;
}
/* line 225, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper #content_wrap #content .module .tabular {
  width: 100%;
  margin-bottom: 10px;
  border-right: 1px solid #CCC;
  border-top: 1px solid #CCC;
}
/* line 231, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper #content_wrap #content .module .tabular th {
  text-align: left;
  background-color: #EEE;
  padding: 10px 5px;
  border-right: 1px solid white;
  border-left: 1px solid #CCC;
}
/* line 239, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper #content_wrap #content .module .tabular td {
  padding: 5px;
  border-left: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}
/* line 245, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper #content_wrap #content .module .tabular tr.even {
  background-color: #EDF8FF;
}
/* line 253, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper #footer_wrap {
  background-color: #2C3030;
  color: white;
  width: 100%;
  height: 70px;
  overflow: hidden;
  position: absolute;
  bottom: 0px;
}
/* line 262, ../../app/assets/stylesheets/dashboard.scss */
html body #wrapper #footer_wrap #footer {
  padding-top: 30px;
}

/* line 270, ../../app/assets/stylesheets/dashboard.scss */
a, a:active, a:visited {
  color: #0069CB;
  text-decoration: none;
}

/* line 275, ../../app/assets/stylesheets/dashboard.scss */
a:hover {
  text-decoration: underline;
}

/* line 279, ../../app/assets/stylesheets/dashboard.scss */
label {
  font-size: 14px;
  line-height: 19px;
  font-weight: bold;
  display: block;
}
/* line 285, ../../app/assets/stylesheets/dashboard.scss */
label small {
  font-size: 12px;
  color: gray;
  font-weight: normal;
}

/* Global status styles */
/* line 295, ../../app/assets/stylesheets/dashboard.scss */
#wrapper .error, #wrapper .warning, #wrapper .info, #wrapper .success {
  padding: 10px;
  padding-left: 40px;
  margin: 10px 0px;
}
/* line 301, ../../app/assets/stylesheets/dashboard.scss */
#wrapper .error {
  border: 1px solid #ff9b9b;
  background: #ffd3d3 url("/images/dashboard/error.png") no-repeat 10px 7px;
  color: #de1414;
}
/* line 307, ../../app/assets/stylesheets/dashboard.scss */
#wrapper .info {
  border: 1px solid #5abef3;
  background: #d9f4ff url("/images/dashboard/info.png") no-repeat 10px 7px;
  color: #0069cb;
}
/* line 313, ../../app/assets/stylesheets/dashboard.scss */
#wrapper .success {
  border: 1px solid #78ce4d;
  background: #e8ffe2 url("/images/dashboard/success.png") no-repeat 10px 7px;
  color: #007e1b;
}
/* line 319, ../../app/assets/stylesheets/dashboard.scss */
#wrapper .warning {
  border: 1px solid #c4bc16;
  background: #fffed7 url("/images/dashboard/warning.png") no-repeat 10px 7px;
  color: #6e6000;
}
/* line 325, ../../app/assets/stylesheets/dashboard.scss */
#wrapper .clear {
  clear: both;
  line-height: 1px;
  font-size: 1px;
}
/* line 331, ../../app/assets/stylesheets/dashboard.scss */
#wrapper .center {
  text-align: center;
}
/* line 333, ../../app/assets/stylesheets/dashboard.scss */
#wrapper .left {
  text-align: left;
}
/* line 335, ../../app/assets/stylesheets/dashboard.scss */
#wrapper .right {
  text-align: right;
}
/* line 337, ../../app/assets/stylesheets/dashboard.scss */
#wrapper .float_right {
  float: right;
}
/* line 339, ../../app/assets/stylesheets/dashboard.scss */
#wrapper .float_left {
  float: left;
}
/* line 341, ../../app/assets/stylesheets/dashboard.scss */
#wrapper .bold {
  font-weight: bolder;
}
/* line 344, ../../app/assets/stylesheets/dashboard.scss */
#wrapper #content .columns {
  overflow: hidden;
}
/* line 346, ../../app/assets/stylesheets/dashboard.scss */
#wrapper #content .columns .half {
  display: inline;
  width: 49%;
  float: left;
  margin-right: 1%;
}
/* line 352, ../../app/assets/stylesheets/dashboard.scss */
#wrapper #content .columns .half h1 span.right, #wrapper #content .columns .half h2 span.right, #wrapper #content .columns .half h3 span.right, #wrapper #content .columns .half h4 span.right, #wrapper #content .columns .half h5 span.right, #wrapper #content .columns .half h6 span.right {
  position: absolute;
  float: right;
  margin-top: 0px;
  right: 0px;
}
/* line 361, ../../app/assets/stylesheets/dashboard.scss */
#wrapper #content .icon {
  background-position: 0 40%;
  padding-left: 20px;
  padding-right: 5px;
  padding-bottom: 5px;
}
/* line 368, ../../app/assets/stylesheets/dashboard.scss */
#wrapper #content .icon.edit {
  background: url("/images/dashboard/icons/pencil.png") no-repeat;
}
/* line 372, ../../app/assets/stylesheets/dashboard.scss */
#wrapper #content .icon.delete {
  background: url("/images/dashboard/icons/delete.png") no-repeat;
}
/* line 376, ../../app/assets/stylesheets/dashboard.scss */
#wrapper #content .icon.add {
  background: url("/images/dashboard/icons/add.png") no-repeat;
}
/* line 380, ../../app/assets/stylesheets/dashboard.scss */
#wrapper #content .icon.accept {
  background: url("/images/dashboard/icons/accept.png") no-repeat;
}
/* line 384, ../../app/assets/stylesheets/dashboard.scss */
#wrapper #content .icon.disk {
  background: url("/images/dashboard/icons/disk.png") no-repeat;
}

/* line 390, ../../app/assets/stylesheets/dashboard.scss */
.field_with_errors input, .field_with_errors textarea {
  background-color: #FFAAAA;
  border: 2px solid #A00000 !important;
  color: #AA0000;
}

/* line 396, ../../app/assets/stylesheets/dashboard.scss */
.wym_section.wym_dropdown {
  display: none;
}

/* line 400, ../../app/assets/stylesheets/dashboard.scss */
.wym_skin_compact {
  border: 0px !important;
  padding: 5px 15px;
}

/* line 405, ../../app/assets/stylesheets/dashboard.scss */
ul {
  list-style: disc outside none;
}

/* line 409, ../../app/assets/stylesheets/dashboard.scss */
ol {
  list-style: decimal outside none;
  margin-left: 25px;
}
